body {
    background: #bdc3c7;
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
}

.titulo {
    font-size: 1.5rem;
    font-family: 'Anton', sans-serif;
    font-family: 'PT Sans Caption', sans-serif;
}